google-auth
google-auth-httplib2
google-auth-oauthlib
requests
google-genai
boto3
python-dotenv
python-docx

# new (search + cleaner)
tavily-python
beautifulsoup4
readability-lxml
lxml_html_clean

# Google Agent Development Kit
google-adk
fastapi
uvicorn
pypdf

# Cloud Storage
google-cloud-storage

# File Processing
pandas
openpyxl
python-multipart
